.root{
  padding: var(--header-height) calc(var(--spacing-l) * 2);
  @media (max-width: 480px) {
    padding: var(--header-height) var(--spacing-xl);
  }
}

.title {
  margin: var(--spacing-xl) 0;
}

.content{
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-xl);
  min-height: 560px;
}

.contentItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-l);
}

.info {
  display: flex;
  gap: var(--spacing-l);
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}


.socialLinkWrapper {
  display: flex;
  gap: 10px;
}

.socialLink {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 4px;
}

.qrCode {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 360px;
    max-height: 480px;
  }
}

.qrIcon {
  cursor: pointer;
}