.root {
  height: var(--header-height);
  box-sizing: border-box;
  padding: var(--spacing-l);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;

}

.navs {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.li {
  margin: 0 8spx;
  cursor: pointer;
}