.root {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(89,61,39,0.7), rgba(144,142,127,0.7)), url('../../assets//main.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  padding: 0 var(--spacing-xl);
  padding-top: calc(var(--header-height) + var(--spacing-xl));

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.content {
  max-width: 50%;
  text-align: center;
  padding-bottom: 20%;
}