.root {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  padding: var(--spacing-xl) 10%;
  width: 100vw;
  display: grid;
}

svg {
  fill: rgba(165,165,165,1);
  height: 24px;
  width: 24px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.footerMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl)
}

.socialIcons a {
  margin-right: var(--spacing-m);
}

.contactItem {
  // display: grid;
  // grid-template-columns: 40px 1fr;
  // column-gap: var(--spacing-s);
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: rgba(165,165,165,0.3);
  margin: var(--spacing-xl) 0;
}

.footerAdd {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m) 0;
}

.footerSocial {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  align-items: flex-start;
  > div a {
    cursor: pointer;
  }
}

.toUpButton {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  padding: var(--spacing-s);
  border-bottom: 1px solid rgba(165,165,165,0.5);
  cursor: pointer;
  svg {
    height: 16px;
    width: 16px;
    transform: rotate(180deg);
  }
}

@media (max-width: 624px) {
  .root {
    display: block;
  }
  .navs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
  }
}