.title1 {
  color: var(--primary-color);
  font-size: 5vw;
  line-height: normal;
  letter-spacing: .3px;
  font-weight: 600;
  margin:0;
  padding: var(--spacing-l) 0;
}

.title2 {
  color: var(--primary-color);
  font-size: 52px;
  line-height: normal;
  letter-spacing: .3px;
  font-weight: 400;
  margin:0;
}

.title3 {
  color: var(--primary-color);
  font-size: 38px;
  line-height: 1.5;
  letter-spacing: .3px;
  font-weight: 600;
  margin:0;
  padding: var(--spacing-l) 0;
}

.subtitle1 {
  color: var(--primary-color);

}

.caption1 {
  color: var(--primary-color);

  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
}


.caption2 {
  color: var(--primary-color);

  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}