.title1 {
  color: var(--primary-color);
  font-size: 5vw;
  line-height: normal;
  letter-spacing: .3px;
  font-weight: 600;
  margin:0;
  padding: var(--spacing-l) 0;
}

.title2 {
  color: var(--primary-color);
  font-size: 52px;
  line-height: normal;
  letter-spacing: .3px;
  font-weight: 500;
  margin:0;
}

.title2_secondary {
  color: var(--secondary-color);
  font-size: 52px;
  line-height: normal;
  letter-spacing: .3px;
  font-weight: 500;
  margin:0;
}

.title3 {
  color: var(--primary-color);
  font-size: 52px;
  line-height: 1.5;
  letter-spacing: .3px;
  font-weight: 800;
  margin:0;
  padding: var(--spacing-l) 0;
}

.title3_secondary {
  color: var(--secondary-color);
  font-size: 52px;
  line-height: 1.5;
  letter-spacing: .3px;
  font-weight: 400;
  margin:0;
  padding: var(--spacing-l) 0;
}

.subtitle1 {
  color: var(--primary-color);

}

.subtitle_footer {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}

.caption1 {
  color: var(--primary-color);
  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
}


.caption2 {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.caption3 {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.caption3_secondary {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.caption3_secondary_italic {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
}

.caption3_secondary_bold {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

.caption4 {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

.caption5 {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
}

.caption_footer {
  color: var(--primary-color);
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.withHoverBlack {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  // &:hover {
  //   color: var(--primary-color);;
  // }
}

.link {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

.link_secondary {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}

/* Для планшетов и меньших экранов */
@media (max-width: 768px) {
  .title1 {
    font-size: 8vw; 
  }
  .title2, .title2_secondary {
    font-size: 7vw;
  }
  .title3, .title3_secondary {
    font-size: 5vw;
  }
  .caption1 {
    font-size: 24px;
  }
  .caption2, .caption4, .caption5 {
    font-size: 18px;
  }
  .caption3, .caption3_secondary, .caption3_secondary_italic, .caption3_secondary_bold,
  .withHoverBlack, .link, .link_secondary {
    font-size: 16px; 
  }
  .subtitle_footer, .caption_footer {
    font-size: 12px;
  }
}

/* Для мобильных телефонов */
@media (max-width: 480px) {
  .title1 {
    font-size: 10vw;
  }
  .title2, .title2_secondary {
    font-size: 9vw;
  }
  .title3, .title3_secondary {
    font-size: 6vw;
  }
  .caption1 {
    font-size: 20px;
  }
  .caption2, .caption4, .caption5 {
    font-size: 16px;
  }

  .caption4, .caption5{
    font-size: 12px;
  }
  .caption3, .caption3_secondary, .caption3_secondary_italic, .caption3_secondary_bold,
  .withHoverBlack, .link, .link_secondary {
    font-size: 14px;
  }
  .subtitle_footer, .caption_footer {
    font-size: 10px;
  }
}
